<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite1" parallel="tests"  thread-count="1" >

    <parameter name ="url" value="https://www.ilabquality.com/"></parameter>


    <test  name="TestingOnChromeBrowser">
        <parameter name ="browserName" value="chrome"></parameter>
        <classes>
            <class name="testRunner.RunTest"/>
        </classes>
    </test>
</suite>